ControlDisplay.json
[{"id":"0e2e1c031e015802","type":"tab","label":"Control display","disabled":false,"info":"","env":[]},{"id":"097476dc2658ec7f","type":"debug","z":"0e2e1c031e015802","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":40,"wires":[]},{"id":"6f701838dbefd088","type":"signalk-subscribe","z":"0e2e1c031e015802","name":"get environment.sun","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"environment.sun","source":"","period":"30000","x":130,"y":40,"wires":[["097476dc2658ec7f","41e5b89de3fcf6a6"]]},{"id":"51a392e418113c01","type":"switch","z":"0e2e1c031e015802","name":"day phase","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"dawn","vt":"str"},{"t":"eq","v":"sunrise","vt":"str"},{"t":"eq","v":"day","vt":"str"},{"t":"eq","v":"sunset","vt":"str"},{"t":"eq","v":"dusk","vt":"str"},{"t":"eq","v":"night","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":370,"y":200,"wires":[["353491e78cfed579"],["bcb6e26827f3f000"],["9a3f7cda12fa7fc0"],["4fd5e66fcc168c7a"],["a572dcf3d48654c7"],["20b46eefa77074a8"]],"info":"dawn, sunrise, day, sunset, dusk or night. "},{"id":"9a3f7cda12fa7fc0","type":"exec","z":"0e2e1c031e015802","command":"ddcutil","addpay":"","append":"setvcp 0x10 100 0x14 x01","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Day: max bright, sRGB","x":680,"y":220,"wires":[[],[],[]]},{"id":"bcb6e26827f3f000","type":"exec","z":"0e2e1c031e015802","command":"ddcutil","addpay":"","append":"setvcp 0x10 50 0x14 x01","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Sunrise: bright 50 , sRGB","x":690,"y":160,"wires":[[],[],[]]},{"id":"353491e78cfed579","type":"exec","z":"0e2e1c031e015802","command":"ddcutil","addpay":"","append":"setvcp 0x14 x0b 0x16 50 0x18 20 0x1a 10 0x10 50","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Dawn: bright 50 , redshift","x":690,"y":100,"wires":[[],[],[]]},{"id":"4fd5e66fcc168c7a","type":"exec","z":"0e2e1c031e015802","command":"ddcutil","addpay":"","append":"setvcp 0x10 50 0x14 x01","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Sunset: bright 50 , sRGB","x":690,"y":280,"wires":[[],[],[]]},{"id":"a572dcf3d48654c7","type":"exec","z":"0e2e1c031e015802","command":"ddcutil","addpay":"","append":"setvcp 0x14 x0b 0x16 50 0x18 20 0x1a 10 0x10 50","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Dusk: bright 50 , redshift","x":690,"y":340,"wires":[[],[],[]]},{"id":"20b46eefa77074a8","type":"exec","z":"0e2e1c031e015802","command":"ddcutil","addpay":"","append":"setvcp 0x14 x0b 0x16 30 0x18 12 0x1a 10 0x10 15","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Night: bright 15 , redshift","x":690,"y":400,"wires":[[],[],[]]},{"id":"d70a6521da7666d7","type":"inject","z":"0e2e1c031e015802","name":"dawn","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"dawn","payloadType":"str","x":110,"y":120,"wires":[["51a392e418113c01"]]},{"id":"947648df79599e3e","type":"inject","z":"0e2e1c031e015802","name":"sunrise","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"sunrise","payloadType":"str","x":110,"y":160,"wires":[["51a392e418113c01"]]},{"id":"7ec749e054853cfa","type":"inject","z":"0e2e1c031e015802","name":"day","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"day","payloadType":"str","x":110,"y":200,"wires":[["51a392e418113c01"]]},{"id":"4cdd49fc0429de90","type":"inject","z":"0e2e1c031e015802","name":"sunset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"sunset","payloadType":"str","x":110,"y":240,"wires":[["51a392e418113c01"]]},{"id":"f19f252958add304","type":"inject","z":"0e2e1c031e015802","name":"dusk","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"dusk","payloadType":"str","x":110,"y":280,"wires":[["51a392e418113c01"]]},{"id":"a2ed6cf55a372909","type":"inject","z":"0e2e1c031e015802","name":"night","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"night","payloadType":"str","x":110,"y":320,"wires":[["51a392e418113c01"]]},{"id":"41e5b89de3fcf6a6","type":"rbe","z":"0e2e1c031e015802","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":250,"y":80,"wires":[["51a392e418113c01"]]},{"id":"8fb1ee62fc7d5501","type":"inject","z":"0e2e1c031e015802","name":"Initiate paths","props":[{"p":"payload"}],"repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":140,"y":540,"wires":[["50782e3ff1f2d5da","6b1f8cedc6c1a676","4cfdec9ae684c794","256e3d33e7d90f54"]]},{"id":"09b9a46c511f4e3c","type":"signalk-put-handler","z":"0e2e1c031e015802","name":"displays.switch.night","path":"displays.switch.night","x":130,"y":480,"wires":[["20b46eefa77074a8"]]},{"id":"b9b718731ac962aa","type":"signalk-put-handler","z":"0e2e1c031e015802","name":"displays.switch.day","path":"displays.switch.day","x":130,"y":360,"wires":[["9a3f7cda12fa7fc0"]]},{"id":"56730a083c61617e","type":"signalk-put-handler","z":"0e2e1c031e015802","name":"displays.switch.dusk","path":"displays.switch.dusk","x":130,"y":440,"wires":[["a572dcf3d48654c7"]]},{"id":"e2bbb067595c28ef","type":"signalk-send-pathvalue","z":"0e2e1c031e015802","name":"displays.switch.night","source":"","meta":"{}","x":680,"y":500,"wires":[]},{"id":"b562b5cd43e2cdac","type":"signalk-send-pathvalue","z":"0e2e1c031e015802","name":"displays.switch.dusk","source":"","meta":"{}","x":680,"y":580,"wires":[]},{"id":"8be7e44befc3611c","type":"signalk-send-pathvalue","z":"0e2e1c031e015802","name":"displays.switch.day","source":"","meta":"{}","x":690,"y":540,"wires":[]},{"id":"50782e3ff1f2d5da","type":"change","z":"0e2e1c031e015802","name":"displays.switch.night","rules":[{"t":"set","p":"topic","pt":"msg","to":"displays.switch.night","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":500,"wires":[["e2bbb067595c28ef"]]},{"id":"6b1f8cedc6c1a676","type":"change","z":"0e2e1c031e015802","name":"displays.switch.day","rules":[{"t":"set","p":"topic","pt":"msg","to":"displays.switch.day","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":540,"wires":[["8be7e44befc3611c"]]},{"id":"4cfdec9ae684c794","type":"change","z":"0e2e1c031e015802","name":"displays.switch.dusk","rules":[{"t":"set","p":"topic","pt":"msg","to":"displays.switch.dusk","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":580,"wires":[["b562b5cd43e2cdac"]]},{"id":"3e8112beac9ff235","type":"signalk-put-handler","z":"0e2e1c031e015802","name":"displays.switch.sunset","path":"displays.switch.sunset","x":120,"y":400,"wires":[["4fd5e66fcc168c7a"]]},{"id":"256e3d33e7d90f54","type":"change","z":"0e2e1c031e015802","name":"displays.switch.sunset","rules":[{"t":"set","p":"topic","pt":"msg","to":"displays.switch.sunset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":620,"wires":[["5a384cc9ae1d4b62"]]},{"id":"5a384cc9ae1d4b62","type":"signalk-send-pathvalue","z":"0e2e1c031e015802","name":"displays.switch.sunset","source":"","meta":"{}","x":680,"y":620,"wires":[]}]
