playback_nmea_0183.json
[{"id":"a28a98d653234a65","type":"tab","label":"Read NMEA file","disabled":false,"info":"","env":[]},{"id":"b19939c30cf814c6","type":"file in","z":"a28a98d653234a65","name":"","filename":"filename","filenameType":"msg","format":"lines","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":240,"y":20,"wires":[["e82a0688bfc528fe"]]},{"id":"b13126078dec5862","type":"switch","z":"a28a98d653234a65","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"$GNRMC","vt":"str"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":80,"wires":[["ecf99de454207027"],["0b6c5c03366a5ae5"]]},{"id":"653349b8448de25b","type":"inject","z":"a28a98d653234a65","name":"","props":[{"p":"filename","v":"/home/plotter/Documents/NMEA Logs/nmeaRecord_2024_09_14_10_00_VliBlaRaceB.txt","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":20,"wires":[["b19939c30cf814c6"]]},{"id":"ecf99de454207027","type":"change","z":"a28a98d653234a65","name":"","rules":[{"t":"set","p":"GNRMC","pt":"flow","to":"$substring(payload, 7, 6)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":80,"wires":[[]]},{"id":"0b6c5c03366a5ae5","type":"change","z":"a28a98d653234a65","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"GNRMC","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":140,"wires":[["0ab38a849e03088c"]]},{"id":"0ab38a849e03088c","type":"mergeTopic","z":"a28a98d653234a65","name":"","timeout":"0","msglimit":0,"x":510,"y":140,"wires":[["4b006ef219e84e21"]]},{"id":"e82a0688bfc528fe","type":"switch","z":"a28a98d653234a65","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"$GNGGA","vt":"str"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":2,"x":90,"y":80,"wires":[[],["b13126078dec5862"]]},{"id":"4b006ef219e84e21","type":"function","z":"a28a98d653234a65","name":"dedupe nmea sentences","func":"var newPayloadArray = new Set();\nvar newPayload = '';\nvar l =  msg.payload.length;\nfor (var  i = 0; i < l; i++){\n   newPayloadArray.add(msg.payload[i].payload)\n}\nfor (const s of newPayloadArray){\n   newPayload += (s + '\\n');\n}\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":140,"wires":[["f80ba68988a33a20"]]},{"id":"f80ba68988a33a20","type":"delay","z":"a28a98d653234a65","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":960,"y":140,"wires":[["d834adaeaedbb2d0"]]},{"id":"d834adaeaedbb2d0","type":"tcp out","z":"a28a98d653234a65","name":"","host":"localhost","port":"10110","beserver":"client","base64":false,"end":false,"tls":"","x":1170,"y":140,"wires":[]},{"id":"930079d9d5ade36c","type":"comment","z":"a28a98d653234a65","name":"How to use this flow","info":"1. Set the filename in the inject node.\n2. Prune GPS fixes and especially datetime info in the 1st switch\n3. Set the message rate to 1 per second for real time.","x":110,"y":200,"wires":[]}]
