UPS.json
[{"id":"b868acfee684986d","type":"tab","label":"UPS","disabled":false,"info":"","env":[]},{"id":"2c16cfe84664a1d4","type":"file in","z":"b868acfee684986d","name":"","filename":"/run/battery.json","filenameType":"str","format":"lines","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":160,"y":120,"wires":[["07959cb61a50c714"]]},{"id":"024f6698542a1a75","type":"inject","z":"b868acfee684986d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":420,"wires":[["2c16cfe84664a1d4"]]},{"id":"5ffa39c9b11d830d","type":"debug","z":"b868acfee684986d","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":40,"wires":[]},{"id":"07959cb61a50c714","type":"json","z":"b868acfee684986d","name":"","property":"payload","action":"","pretty":false,"x":150,"y":160,"wires":[["16898552945f6d15","5ffa39c9b11d830d"]]},{"id":"16898552945f6d15","type":"split","z":"b868acfee684986d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":150,"y":200,"wires":[["8535d22266f13c2a"]]},{"id":"8535d22266f13c2a","type":"switch","z":"b868acfee684986d","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"current_capacity","vt":"str"},{"t":"eq","v":"current_voltage","vt":"str"},{"t":"eq","v":"min_capacity","vt":"str"},{"t":"eq","v":"max_capacity","vt":"str"},{"t":"eq","v":"min_voltage","vt":"str"},{"t":"eq","v":"max_voltage","vt":"str"},{"t":"eq","v":"charger_present","vt":"str"},{"t":"eq","v":"charger_charging","vt":"str"},{"t":"eq","v":"shutdown_initiated","vt":"str"},{"t":"eq","v":"timer_no_power","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":250,"y":280,"wires":[["ea6ce527ce0f7850"],["68380903231019a2"],["c3bd2e4fdac981ca"],["b1055311318c7a28"],["d4c3fe957a1543d8"],["b198acb797dfa1c6"],["308305d56d610bb1"],["8a31fad4f038decd"],["9493ad9628a00f44"],["2a4521cda154f633"]]},{"id":"ea6ce527ce0f7850","type":"change","z":"b868acfee684986d","name":"sensors.ups.capactity","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensors.ups.capactity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":160,"wires":[["79b7712ad7bb7435"]]},{"id":"68380903231019a2","type":"change","z":"b868acfee684986d","name":"sensors.ups.voltage","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensors.ups.voltage","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":200,"wires":[["a1cb6a9b9588cd20"]]},{"id":"9c9474863478f0a9","type":"signalk-send-pathvalue","z":"b868acfee684986d","name":"ups capacity","source":"ups","meta":"{\"units\":\"ratio\"}","x":1010,"y":140,"wires":[]},{"id":"a1cb6a9b9588cd20","type":"signalk-send-pathvalue","z":"b868acfee684986d","name":"UPS Voltage","source":"ups","meta":"{\"units\":\"V\"}","x":1010,"y":200,"wires":[]},{"id":"c3bd2e4fdac981ca","type":"change","z":"b868acfee684986d","name":"sensors.ups.setpoint.min_capacity","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensors.ups.setpoint.min_capacity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":240,"wires":[["444d9c1e77a8c0b8"]]},{"id":"37179b3b483f33ad","type":"signalk-send-pathvalue","z":"b868acfee684986d","name":"UPS min capacity","source":"ups","meta":"{\"units\":\"%\"}","x":1030,"y":240,"wires":[]},{"id":"b1055311318c7a28","type":"change","z":"b868acfee684986d","name":"sensors.ups.setpoint.max_capacity","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensors.ups.setpoint.max_capacity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":280,"wires":[["8d6c719b4ef49c8d"]]},{"id":"05086edf16dde92c","type":"signalk-send-pathvalue","z":"b868acfee684986d","name":"UPS min capacity","source":"ups","meta":"{\"units\":\"%\"}","x":1030,"y":288.57142857142856,"wires":[]},{"id":"b198acb797dfa1c6","type":"change","z":"b868acfee684986d","name":"sensors.ups.setpoint.max_voltage","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensors.ups.setpoint.max_voltage","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["d588c205b23db5d8"]]},{"id":"d588c205b23db5d8","type":"signalk-send-pathvalue","z":"b868acfee684986d","name":"UPS Voltage","source":"ups","meta":"{\"units\":\"V\"}","x":1010,"y":374.2857142857142,"wires":[]},{"id":"d4c3fe957a1543d8","type":"change","z":"b868acfee684986d","name":"sensors.ups.setpoint.min_voltage","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensors.ups.setpoint.min_voltage","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":320,"wires":[["6d6adf937fbb2d24"]]},{"id":"6d6adf937fbb2d24","type":"signalk-send-pathvalue","z":"b868acfee684986d","name":"UPS min voltage","source":"ups","meta":"{\"units\":\"V\"}","x":1030,"y":331.4285714285714,"wires":[]},{"id":"308305d56d610bb1","type":"change","z":"b868acfee684986d","name":"sensors.ups.charger.power","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensors.ups.charger.power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[["72bd0b45d88211b3","5a3e0e332833c0b5"]]},{"id":"6e811682861c5dde","type":"signalk-send-pathvalue","z":"b868acfee684986d","name":"UPS Charger has power","source":"ups","meta":"{\"units\":\"\"}","x":1050,"y":420,"wires":[]},{"id":"8a31fad4f038decd","type":"change","z":"b868acfee684986d","name":"sensors.ups.charger.charging","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensors.ups.charger.charging","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":440,"wires":[["836237a8efbee873"]]},{"id":"d73dfe1f2dc65a5a","type":"signalk-send-pathvalue","z":"b868acfee684986d","name":"UPS charger charging","source":"ups","meta":"{\"units\":\"\"}","x":1040,"y":480,"wires":[]},{"id":"79b7712ad7bb7435","type":"function","z":"b868acfee684986d","name":"percentage to ratio","func":"msg.payload = msg.payload / 100;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":160,"wires":[["9c9474863478f0a9"]]},{"id":"444d9c1e77a8c0b8","type":"function","z":"b868acfee684986d","name":"percentage to ratio","func":"msg.payload = msg.payload / 100;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":240,"wires":[["37179b3b483f33ad"]]},{"id":"8d6c719b4ef49c8d","type":"function","z":"b868acfee684986d","name":"percentage to ratio","func":"msg.payload = msg.payload / 100;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":280,"wires":[["05086edf16dde92c"]]},{"id":"72bd0b45d88211b3","type":"function","z":"b868acfee684986d","name":"bool to number","func":"msg.payload =  msg.payload ? 1 : 0;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":420,"wires":[["6e811682861c5dde"]]},{"id":"836237a8efbee873","type":"function","z":"b868acfee684986d","name":"bool to number","func":"msg.payload =  msg.payload ? 1 : 0;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":460,"wires":[["d73dfe1f2dc65a5a"]]},{"id":"23c8d7ddf4474877","type":"signalk-send-notification","z":"b868acfee684986d","name":"UPS power lost","path":"ups.power","state":"normal","message":"UPS: power lost","visual":true,"sound":true,"source":"ups","x":1020,"y":540,"wires":[]},{"id":"d462fc1440bc1b5e","type":"switch","z":"b868acfee684986d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":580,"wires":[["23c8d7ddf4474877"],["6a0731cc56620ff9"]]},{"id":"6a0731cc56620ff9","type":"signalk-send-notification","z":"b868acfee684986d","name":"UPS power regained","path":"ups.power","state":"normal","message":"UPS: power regained","visual":true,"sound":false,"source":"ups","x":1040,"y":580,"wires":[]},{"id":"5a3e0e332833c0b5","type":"rbe","z":"b868acfee684986d","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":710,"y":500,"wires":[["d462fc1440bc1b5e","38bdf16ef245c001"]]},{"id":"38bdf16ef245c001","type":"debug","z":"b868acfee684986d","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1340,"y":500,"wires":[]},{"id":"9493ad9628a00f44","type":"change","z":"b868acfee684986d","name":"sensors.ups.shutdown_initiated","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensors.ups.shutdown_initiated","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":600,"wires":[["be61e1da033ca089","08fadfd6fe591ca3"]]},{"id":"2a4521cda154f633","type":"change","z":"b868acfee684986d","name":"sensors.ups.timer_no_power","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensors.ups.timer_no_power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":800,"wires":[["3a425d50f5b8d881"]]},{"id":"077a3ddeaab6a3ef","type":"signalk-send-pathvalue","z":"b868acfee684986d","name":"UPS shutdown initiated","source":"ups","meta":"{\"units\":\"numeric\"}","x":1030,"y":640,"wires":[]},{"id":"be61e1da033ca089","type":"function","z":"b868acfee684986d","name":"bool to number","func":"msg.payload =  msg.payload ? 1 : 0;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":620,"wires":[["077a3ddeaab6a3ef"]]},{"id":"08fadfd6fe591ca3","type":"rbe","z":"b868acfee684986d","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":710,"y":680,"wires":[["80cfac75c4203c7e"]]},{"id":"80cfac75c4203c7e","type":"switch","z":"b868acfee684986d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":760,"wires":[["7f7c5cfc1e5a7369"],["972302bb5d28b4d7"]]},{"id":"7f7c5cfc1e5a7369","type":"signalk-send-notification","z":"b868acfee684986d","name":"UPS shutdown initiated","path":"ups.shutdown","state":"alert","message":"UPS: shutdown initiated","visual":true,"sound":true,"source":"ups","x":1050,"y":720,"wires":[]},{"id":"972302bb5d28b4d7","type":"signalk-send-notification","z":"b868acfee684986d","name":"UPS shutdown cancelled","path":"ups.shutdown","state":"normal","message":"UPS: shutdown cancelled","visual":true,"sound":true,"source":"ups","x":1050,"y":760,"wires":[]},{"id":"3a425d50f5b8d881","type":"signalk-send-pathvalue","z":"b868acfee684986d","name":"UPS timer_no_power","source":"ups","meta":"{\"units\":\"seconds\"}","x":1040,"y":800,"wires":[]}]